@import url("themes.css");
@tailwind base;
@tailwind components;

/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: "PixeloidSans";
  src: url("/fonts/PixeloidSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PixeloidSans";
  src: url("/fonts/PixeloidSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: oblique;
  font-display: swap;
}

:root[data-theme="main"] {
  --brand-color: #dd0f35;
  --brand-color-secondary: #1d1818;
}

:root[data-theme="art"] {
  --brand-color: #ff8400;
  --brand-color-secondary: #fddc9f;
}

:root[data-theme="games"] {
  --brand-color: #0073d1;
  --brand-color-secondary: #22eeda;
}

@layer base {
  html {
    background: linear-gradient(
        to bottom,
        var(--brand-color-secondary) 10%,
        var(--brand-color) 80%
      )
      no-repeat;
    color: var(--text-color);
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }

  html,
  body {
    min-height: 100%;
  }

  html {
    scrollbar-gutter: stable;
  }
}

@layer components {
  .gradient-text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--brand-color);
    background-clip: text;
    color: transparent;
  }

  .grid-sidebar-layout {
    grid-template-columns: 16rem 1fr;
  }

  .grid-two-column {
    grid-template-columns: 180px 1fr;
  }
}
