---
import { Icon } from "astro-icon/components";
const contacts = [
  {
    name: "Github",
    path: "https://github.com/thefireKS",
    icon: "pixelarticons:github",
  },
  {
    name: "Itch.io",
    path: "https://fireks.itch.io/",
    icon: "pixelarticons:gamepad",
  },
  {
    name: "Telegram",
    path: "https://t.me/thefireks",
    icon: "dinkie-icons:telegram-alt",
  },
];
---

<footer class="gap-4 justify-center flex">
  {
    contacts.map((contact) => (
      <a
        class="text-2xl hover:bg-surface-hover p-2 rounded-lg outline-none hover:outline-2 hover:outline-brand transition-all duration-100 ease-linear"
        href={contact.path}
        target="_blank"
      >
        <Icon name={contact.icon} />
        <span class="sr-only">{contact.name}</span>
      </a>
    ))
  }
</footer>
