---
interface Props {
  title?: string;
}

const { title = "thefireKS" } = Astro.props;
---

<a
  href="/"
  class="font-heading text-2xl font-bold gradient-text uppercase tracking-wide w-full lg:text-center"
>
  {title}
</a>
